Repository aeye-lab/pymovements, pull requests merged in 2025-07, with the labels that each got.

#1154 feat: add warning and improve error message if no gaze components
  src/pymovements/gaze/gaze_dataframe.py
  tests/unit/gaze/apply_test.py
  tests/unit/gaze/detect_test.py
  tests/unit/gaze/gaze_aoi_mapping_test.py
  tests/unit/gaze/gaze_dataframe_unnest_test.py
  tests/unit/gaze/gaze_init_test.py
  tests/unit/gaze/gaze_transform_test.py
  tests/unit/gaze/integration_numpy_test.py
  tests/unit/gaze/integration_pandas_test.py
  tests/unit/gaze/io/ipc_test.py
  tests/unit/gaze/measure_test.py
Labels: enhancement

#1187 fix: invert y-axis when origin changed
  src/pymovements/plotting/heatmap.py
Labels: fix

#1099 dataset: Chinese Reading
  docs/source/bibliography.bib
  docs/source/datasets/public_datasets.csv
  pyproject.toml
  src/pymovements/dataset/dataset_files.py
  src/pymovements/datasets/__init__.py
  src/pymovements/datasets/chinese_reading.py
  src/pymovements/datasets/chinese_reading.yaml
  src/pymovements/datasets/datasets.yaml
  tests/files/Sentences.xlsx
  tests/unit/dataset/dataset_files_test.py
  tests/unit/datasets/datasets_test.py
Labels: dataset

#1098 dataset: add IITB-Hallucination Gaze Corpus
  docs/source/bibliography.bib
  docs/source/datasets/public_datasets.csv
  src/pymovements/dataset/dataset.py
  src/pymovements/dataset/dataset_files.py
  src/pymovements/datasets/__init__.py
  src/pymovements/datasets/datasets.yaml
  src/pymovements/datasets/iitb_hgc.py
  src/pymovements/datasets/iitb_hgc.yaml
  tests/files/test.jsonl
  tests/unit/dataset/dataset_files_test.py
  tests/unit/datasets/datasets_test.py
Labels: dataset

#1128 fix: copy trial_columns when copying EventDataFrame
  src/pymovements/events/frame.py
  src/pymovements/gaze/gaze_dataframe.py
  tests/unit/events/frame_test.py
  tests/unit/gaze/gaze_dataframe_test.py
Labels: fix

#1007 dataset: Add Gaze4hate dataset
  docs/source/bibliography.bib
  docs/source/datasets/public_datasets.csv
  src/pymovements/datasets/__init__.py
  src/pymovements/datasets/datasets.yaml
  src/pymovements/datasets/gaze4hate.py
  src/pymovements/datasets/gaze4hate.yaml
  tests/unit/datasets/datasets_test.py
Labels: dataset
